* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-nav {
  justify-content: flex-end;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: bold;
  
}
.special {
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
}

#head {
  background-image: url(/Picture/notebook.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 697px;
  z-index: 1;
}

#head::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(95, 76, 60);
  opacity: 0.7;
  z-index: -1;
}

#head .row {
  padding-top: 270px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#head .uplorem h1 {
  font-size: 56px;
  font-weight: 400;
  font-family: "Merriweather Sans", sans-serif;
  color: #ffffff;
}

#head .divider {
  background-color: #f4623a;
  margin: 24px 400px;
  max-width: 70px;
  opacity: 1;
  display: block;
}

hr:not([size]) {
  height: 3px;
}

#head .downlorem p {
  font-size: 18.4px;
  margin: 0 0 48px;
  font-family: "Merriweather", serif;
  color: #ffffffbf;
}
.btn {
  border-radius: 10rem;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 19px;
  padding: 20px 36px;
  font-size: 13.6px;
  background: #f4623a;
  font-weight: bolder;
}

#about {
  background-color: #f4623a;
  padding: 8rem 0;
}

#about .row {
  align-items: center;
  display: flex;
  text-align: center;
  padding: 20px;
}

#about h2 {
  font-size: 31.2px;
  padding: 20px;
  margin: 0px 0px 8px;
  font-family: "Merriweather Sans", sans-serif;
}

#about hr {
  max-width: 60px;
  background-color: #ffffff;
  margin: 24px 387px;
  line-height: 30px;
  display: flex;
  opacity: 1;
}
#about p {
  font-size: 16px;
  font-family: "Merriweather", serif;
  color: #ffffffbf;
  margin: 0px 18px 24px;
}
#about .btn {
  padding: 20px 43px;
  color: black;
  font-size: 13.6px;
  line-height: 22px;
  background: #ffffff;
  border-color: none;
}

#services {
  background-color: #ffffff;
  padding: 8rem 0;
}

.diamond p {
  font-family: "Merriweather", serif;
  color: #6c757d;
}

.laptop p {
  font-family: "Merriweather", serif;
  color: #6c757d;
}

.globe p {
  font-family: "Merriweather", serif;
  color: #6c757d;
}

.heart p {
  font-family: "Merriweather", serif;
  color: #6c757d;
}

#services .container hr {
  margin: 24px 619px;
  max-width: 60px;
  line-height: 30px;
  display: flex;
  height: 3.5px;
  color: #f4623a;
  opacity: 1;
}

#portifolio {
  padding: 8rem 0;
}

#free {
  padding: 8rem 0;  
}
.button {
  background-color: #ffffff;
}
#free a {
  text-transform: uppercase;
}
#free h2{
  font-family: "Merriweather Sans", sans-serif;
}
#contact{
  padding: 8rem 0;
}
#contact hr{
  max-width: 55px;
  margin:24px 260px;
  background-color: #f4623a;
  opacity: 1;
}
#contact p{
  font-family: "Merriweather", serif;

}
#contact h2{
  font-family: "Merriweather Sans", sans-serif;
}

#contact .name{
  font-family: "Merriweather", serif;
}

#contact .email{
  font-family: "Merriweather", serif;
}
#contact .phone{
  font-family: "Merriweather", serif;
}
#contact .message{
  font-family: "Merriweather", serif;
}

#contact .submitt{
  text-transform: uppercase;
  background-color: #f4623a;
  border: #f4623a;
  
}
#contact .buton{
  padding:40px;
}
#contact .number{
  font-family: "Merriweather", serif; 
}

